@import './variables.css';
@import './common.css';

body {
	font-size: 16pt;
	min-width: 15em;
}

a,
a:visited {
	color: var(--foreground);
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-color: var(--gray);
}

a:active,
a:focus,
a:hover {
	color: var(--primary-base);
	text-decoration-color: var(--primary-weak);
}

.grid {
	display: grid;
	row-gap: .5em;
}

.grid>.row {
	align-items: center;
	column-gap: .25em;
	display: inline-flex;
}

.grid>.row.nogap {
	column-gap: 0;
}

.grid>.title {
	font-weight: bold;
	font-size: 1.75em;
}

.grid>.title>.image {
	display: inherit;
}

.grid>.title>.image>img {
	width: 36pt;
}

.grid>.separator>hr {
	border-color: var(--primary-weak);
	border-style: solid;
	border-width: 1pt 0 0 0;
	margin: 0;
}

.grid>.add {
	display: grid;
	grid-template-columns: auto min-content;
}

.grid>.add>.input {
	display: grid;
}

.grid>.last {
	display: grid;
	grid-template-columns: auto auto;
	font-size: .5em;
}

.grid>.last>.developer {
	text-align: right;
}

.group {
	margin: 1em 0 0 0;
}

.group.text {
	font-size: 1.25em;
	font-weight: bolder;
}

.button,
.textbox {
	font-size: 1em;
}

.button {
	background-color: var(--primary-weakest);
	border: 1pt solid var(--primary-base);
	border-radius: 1em;
	color: var(--foreground);
	cursor: pointer;
	font-weight: bold;
}

.button:hover,
.button:focus {
	background-color: var(--primary-weak);
}

.button:focus {
	outline-style: none;
}

.textbox {
	background-color: var(--primary-weakest);
	border: 1pt solid var(--primary-base);
	border-radius: 1em;
	color: var(--foreground);
	outline: none;
}

.textbox:hover,
.textbox:focus {
	background-color: var(--primary-weak);
}

.textbox:focus {
	outline-style: none;
}

.add .button,
.remove .button {
	border-radius: 0 1em 1em 0;
}

.add .button {
	border-left-style: none;
}

.add .textbox {
	border-radius: 1em 0 0 1em;
}

.add .button,
.add .textbox,
.remove .button {
	padding: 0.15em 0.5em;
}

.grid>.list-main-row {
	align-items: center;
	display: grid;
	grid-template-columns: min-content auto;
	column-gap: .25em;
}

.grid>.list-main-row>.list-sub-row {
	display: grid;
	grid-template-columns: auto min-content;
	column-gap: 0;
}

.channel-name {
	background-color: var(--primary-weakest);
	padding: 0.15em 0.5em;
	border-radius: 1em 0 0 1em;
	display: flex;
	align-items: center;
}
