@import './variables.css';
@import './common.css';

body {
	font-size: 12pt;
	padding: .25em .5em 0 .5em;
	user-select: none;
}

.grid {
	column-gap: .33em;
	display: inline-grid;
	grid-template:
		'titleImage titleText1'
		'titleImage titleText2'
		'separator separator'
		'checkIcon checkLabel'
		'optionsIcon optionsLabel';
	row-gap: .5em;
}

.grid>div {
	align-content: center;
	display: grid;
}

.grid>.left {
	justify-content: right;
}

.grid>.title-image {
	grid-area: titleImage;
}

.grid>.title-image>img {
	width: 36pt;
}

.grid>.title-text {
	font-weight: bold;
	font-size: 1.25em;
}

.grid>.title-text.r1 {
	grid-area: titleText1;
	margin-bottom: -.4em;
}

.grid>.title-text.r2 {
	grid-area: titleText2;
}

.grid>.separator {
	grid-area: separator;
}

.grid>.separator>hr {
	border-color: var(--primary-weak);
	border-style: solid;
	border-width: 1pt 0 0 0;
	margin: 0;
}

.grid>.check-icon {
	grid-area: checkIcon;
}

.grid>.check-label {
	font-size: 1.25em;
	grid-area: checkLabel;
}

.grid>.options-icon {
	grid-area: optionsIcon;
}

.grid>.options-label {
	font-size: 1.25em;
	grid-area: optionsLabel;
}

.styled-button {
	justify-content: right;
	position: relative;
}

.styled-button>.image {
	height: 36pt;
	width: 36pt;
}

.styled-button>.clickable {
	bottom: 0;
	width: 36pt;
	position: absolute;
	right: 0;
	top: 0;
}

svg g.gear {
	fill: var(--primary-base);
}
